@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 20% 95%;
    --foreground: 30 30% 20%;
    --card: 30 20% 90%;
    --card-foreground: 30 30% 10%;
    --popover: 30 20% 95%;
    --popover-foreground: 30 30% 20%;
    --primary: 10 65% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 40%;
    --secondary-foreground: 210 20% 95%;
    --muted: 30 20% 85%;
    --muted-foreground: 30 10% 40%;
    --accent: 10 65% 45%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 5% 85%;
    --input: 30 20% 80%;
    --ring: 10 65% 45;
    --radius: 0.5rem;
    --chart-1: 10 65% 45;
    --chart-2: 210 20% 40%;
    --chart-3: 45 60% 50%;
    --chart-4: 55 70% 60%;
    --chart-5: 65 80% 70%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 10% 15%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 10 65% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 40%;
    --secondary-foreground: 210 20% 95%;
    --muted: 30 15% 20%;
    --muted-foreground: 30 10% 65%;
    --accent: 10 65% 45;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 0 85% 97%;
    --border: 24 9.8% 15%;
    --input: 30 30% 20%;
    --ring: 10 65% 45;
    --chart-1: 10 65% 45;
    --chart-2: 210 20% 40%;
    --chart-3: 45 60% 50%;
    --chart-4: 55 70% 60%;
    --chart-5: 65 80% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
